<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<title>TomoTime</title>

	<link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" id="myContainer">

	<div th:replace="~{topmenu :: navigation('')}"/>

	<form th:action="@{/tasks/edit/process}" th:object="${task}" method="post">
		<div class="form-group">
			<input type="text" class="form-control" th:placeholder="${task.getTitle()}" name="title">
			<small class="form-text text-muted">We'll never share your email with anyone else.</small>
		</div>
		<div class="form-group">
			<input type="text" class="form-control" th:placeholder="${task.getDescription()}" th:field="*{description}">
			<small id="description" class="form-text text-muted">We'll never share your email with anyone else
				Description.
			</small>
		</div>
		<div class="form-group" th:if="${task.getTimeStartTask() != null}">
			<input type="text" class="form-control" th:placeholder="${task.getTimeStartTask()}" th:field="*{timeStartTask}">
			<small id="date" class="form-text text-muted">We'll never share your email with anyone else Date.</small>
		</div>

		<button type="submit" class="btn btn-dark btn-lg btn-block" th:text="#{utils.add}"></button>
	</form>


	<form th:action="@{/tasks/edit/process}" th:object="${task}" method="post">
		<div class="form-group">
			<input type="text" class="form-control" name="title" th:placeholder="${task.getTitle() == null ? 'Enter task title...' : task.getTitle()}" required="required">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" name="description" th:placeholder="${task.getTitle() == null ? 'Enter description...' : task.getDescription()}" required="required">
		</div>
		<div class="form-group" th:if="${task.getTimeStartTask() != null}">
			<input type="date" class="form-control" name="description" th:datetime="${task.getTimeStartTask()}">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-dark btn-lg btn-block" th:text="#{utils.add}"></button>
		</div>
	</form>

	<div th:replace="~{footer::footer}"/>

</div>
</body>
</html>