<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <title>TomoTime</title>

        <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container" id="myContainer">

            <div th:replace="~{topmenu :: navigation('tasks')}"/>

            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Название задачи</th>
                    <th>Дата начала</th>
                    <th th:text="#{utils.edit}"></th>
                    <th th:text="#{utils.delete}"></th>
                    <th th:text="#{utils.details}"></th>
                    <th th:text="#{task.status}"></th>
                    <th>Временные интервалы</th>
                    <th>Затраченное время</th>
                </tr>
                </thead>
                <tbody>
                <td colspan="8">
                    <form class="md-form mt-0" th:action="@{/tasks}" method="GET">
                        <div class="input-group mb-3">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" th:value="${word != null} ? ${word}" th:name="word">
                            <button type="submit" class="btn btn-dark">Фильтровать</button>
                        </div>
                    </form>
                </td>
                <tr th:each="task : ${page.getContent()}">
                    <td th:text="${task.getId()}"/>
                    <td th:text="${task.getTitle()}"/>
                    <td th:text="${#temporals.format(task.getTimeStartTask(), 'dd.MM.yyyy HH:mm')}"/>
                    <td> <a type="button" class="btn btn-success" th:href="@{'/tasks/edit?id=' + ${task.getId()}}" th:text="#{utils.edit}"></a> </td>
                    <td> <a type="button" class="btn btn-success" th:href="@{'/tasks/delete/' + ${task.getId()}}" th:text="#{utils.delete}"></a> </td>
                    <td> <a type="button" class="btn btn-info" th:href="@{'/tasks/' + ${task.getId()}}" th:text="#{utils.details}"></a> </td>
                    <td th:text="${task.getStatus()}"/>
                    <td></td>
                    <td th:text="${task.getTotalTime()}"/>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{'/tasks?' + 'pageNumber=' + ${pageNumber == 1 ? 1 : pageNumber - 1}}">&laquo;</a>
                    </li>
                    <li class="page-item" th:classappend="${page.getNumber() + 1 == pageNumber ? 'active' : ''}"
                        th:each="pageNumber: ${#numbers.sequence(1, page.getTotalPages(), 1)}">
                        <a class="page-link" th:text="${pageNumber}"
                           th:href="@{'/tasks?' + 'pageNumber=' + ${pageNumber}}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{'/tasks?' + 'pageNumber=' + ${pageNumber == page.getTotalPages() ? page.getTotalPages() : pageNumber + 1}}">&raquo;</a>
                    </li>
                </ul>
            </nav>

            <form class="md-form mt-0" th:action="@{/tasks}" method="GET"  id="pageSizeForm">
                <div class="input-group mb-3">
                    <select class="form-control" th:name="pageSize">
                        <option selected th:value="null">Choose task number...</option>
                        <option>2</option>
                        <option>5</option>
                        <option>12</option>
                        <option>24</option>
                        <option>48</option>
                    </select>
                    <span> </span>
                    <button type="submit" class="btn btn-secondary">Выбрать</button>
                </div>
            </form>

            <a type="button" class="btn btn-dark btn-lg btn-block" th:text="#{utils.add}" th:href="@{/tasks/edit}"></a>


            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Название задачи</th>
                    <th>Дата начала</th>
                    <th th:text="#{utils.edit}"></th>
                    <th th:text="#{utils.delete}"></th>
                    <th th:text="#{utils.details}"></th>
                    <th>Временные интервалы</th>
                    <th>Затраченное время</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pTask : ${personalTasks}">
                    <td th:text="${pTask.getId()}"/>
                    <td th:text="${pTask.getTitle()}"/>
                    <td th:text="${#temporals.format(pTask.getTimeStartTask(), 'dd.MM.yyyy HH:mm')}"/>
                    <td> <a type="button" class="btn btn-success" th:href="@{'/tasks/edit?id=' + ${pTask.getId()}}" th:text="#{utils.edit}"></a> </td>
                    <td> <a type="button" class="btn btn-success" th:href="@{'/tasks/delete/' + ${pTask.getId()}}" th:text="#{utils.delete}"></a> </td>
                    <td> <a type="button" class="btn btn-info" th:href="@{'/tasks/' + ${pTask.getId()}}" th:text="#{utils.details}"></a> </td>
                    <td></td>
                    <td th:text="${pTask.getTotalTime()}"/>
                </tr>
                </tbody>
            </table>

            <br>

            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Название задачи</th>
                    <th>Дата начала</th>
                    <th th:text="#{utils.edit}"></th>
                    <th th:text="#{utils.delete}"></th>
                    <th th:text="#{utils.details}"></th>
                    <th th:text="#{task.status}"></th>
                    <th>Временные интервалы</th>
                    <th>Затраченное время</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ptTask : ${personalTaskWithStatus}">
                    <td th:text="${ptTask.getId()}"/>
                    <td th:text="${ptTask.getTitle()}"/>
                    <td th:text="${#temporals.format(ptTask.getTimeStartTask(), 'dd.MM.yyyy HH:mm')}"/>
                    <td> <a type="button" class="btn btn-success" th:href="@{'/tasks/edit?id=' + ${ptTask.getId()}}" th:text="#{utils.edit}"></a> </td>
                    <td> <a type="button" class="btn btn-success" th:href="@{'/tasks/delete/' + ${ptTask.getId()}}" th:text="#{utils.delete}"></a> </td>
                    <td> <a type="button" class="btn btn-info" th:href="@{'/tasks/' + ${ptTask.getId()}}" th:text="#{utils.details}"></a> </td>
                    <td th:text="${ptTask.getStatus()}"/>
                    <td></td>
                    <td th:text="${ptTask.getTotalTime()}"/>
                </tr>
                </tbody>
            </table>


            <div th:replace="~{footer::footer}"/>

        </div>
    </body>
</html>