<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <body>
        <div th:fragment="navigation(activeTab)">
            <nav class="navbar navbar-expand-md" style="background-color: #2dab24;">
                <div class="mx-auto order-1">
                    <a class="navbar-brand mx-auto" th:href="@{/}">TOMOTIME</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" sec:authorize="isAuthenticated()" th:classappend="${activeTab == 'tasks' ? ' active' : ''}">
                            <a class="nav-link" th:href="@{/tasks}" th:text="#{topmenu.tasks}"></a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()" th:classappend="${activeTab == 'archive' ? ' active' : ''}">
                            <a class="nav-link" th:href="@{/archive}" th:text="#{topmenu.archive}"></a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()" th:classappend="${activeTab == 'profile' ? ' active' : ''}">
                            <a class="nav-link" th:href="@{/profile}" th:text="#{topmenu.profile}"></a>
                        </li>
                        <li>
                            <div class="dropdown" style="margin-left: 10px;">
                                <button class="btn btn-outline-secondary dropdown-toggle" th:text="#{topmenu.logIn}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" th:href="@{/login}" th:text="#{topmenu.logIn}"></a>
                                    <a class="dropdown-item" th:href="@{/register}" th:text="#{topmenu.register}"></a>
                                </div>
                            </div>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <form th:action="@{/logout}" method="POST">
                                <input type="submit" class="btn btn-outline-light" th:value="#{topmenu.logout}"/>
                            </form>
                        </li>
                    </ul>
                    <div class="dropdown" style="margin-left: 10px;">
                        <button class="btn btn-outline-secondary dropdown-toggle" th:text="#{topmenu.lang}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" th:href="@{/?lang=ru}">РУС</a>
                            <a class="dropdown-item" th:href="@{/?lang=en}">ENG</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>